

<body>
{{!-- 
    <h2>Make That Money Honey</h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/jobs">All Job</a>
        </li>
        <li>
          <a href="/jobs/add">Add Job</a>
        </li>
      </ul>
    </nav> --}}

{{!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/jobs">All Jobs</a>
  <a class="navbar-brand" href="/jobs/add">Add Jobs</a>
</nav> --}}
{{!-- <section id="search" class="search-wrap">
    <h1>Search for a Coding Job </h1>
    <form action="/jobs/search" class="search-form">
    <input type="search" name="term" placeholder="Javascript, MySql, JQuery, HTML.....">
    <input type="submit" value="Search">
    </form>
</section> --}}
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-11">
          <div class="jumbotron jumbotron-fluid" id="techSearch">
              <h1 id="nav" >Search for a Coding Job </h1>
              <form action="/jobs/search" class="search-form">
                <input type="search" name="term" placeholder="Javascript, MySql, JQuery, HTML.....">
                <input type="submit" value="Search">
              </form>
          </div>
        </div>
    </div>
</div>


</body>

</html>