

<body>

<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-11">
          <div class="jumbotron jumbotron-fluid" id="techSearch">
              <h1 id="nav" >Search for a Coding Job </h1>
              <form action="/jobs/search" class="search-form">
                <input type="search" name="term" placeholder="Javascript, MySql, JQuery, HTML.....">
                <input type="submit" value="Search">
              </form>
          </div>
        </div>
    </div>
</div>


</body>

</html>