<section id="search" class="search-wrap">
    <h1>Find A Coding Gig</h1>
    <form action="jobs.html" class="search-form">
    <input type="search" name="term" placeholder="Javascript, SQl, HTML, etc...">
    <input type="submit" value="Search">
    </form>
</section>